.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 1.25rem;
  width: 100%;
  display: block;

  &--medium { max-width: 64rem; }
  &--small { 
    max-width: 40rem; 
    margin: 50px auto;
  }
}
