@import "./variables.scss";

.highlight {
  display: none;
  color: $neutro;
  font-size: 1.3125rem;
  line-height: 1.5;
}

.gallery {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li:not(:last-child) {
    margin: 0 0 1.875rem;
    width: calc((100% - 1.875rem) / 2);
  }

  li:last-child {
    width: 100%;
  }
}

.navigation {
  margin-top: 80px;
}

.link {
  font-family: $secondaryFont;
  font-size: 2rem;
  display: block;
  padding: 15px 0;
  border-bottom: 1px solid $neutro;

  &.next {
    text-align: end;
    padding-left: 25px;
    border-top: 1px solid $neutro;
  }

  &.previous {
    text-align: start;
    padding-right: 30px;
  }
}

.label {
  color: $neutro;
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}

.galleryNavigation {
  margin-bottom: 20px;
}

.galleryLink {
  font-size: 16px;
  color: $primary;
}


@media (min-width: 48em) {
  .billboard {
    min-height: 80vh;
  }

  .firstParagraph {
    padding-top: 30px;
  }

  .highlight {
    display: block;
  }

  .galleryNavigation {
    display: none;
  }


  .navigation {
    display: flex;
    margin-top: 120px;
  }
  
  .link {
    width: 50%;
  
    &.next {
      border-right: 1px solid $neutro;
      text-align: start;
    }

    &.previous {
      text-align: end;
      border-top: 1px solid $neutro;
    }
  }
}